
install_user={{ pivpn_installation_user }}
VPN=openvpn
pivpnPROTO={{ __openvpn_protocol }}
pivpnPORT={{ openvpn_port }}
pivpnDNS1={{ dns_servers[0] }}
pivpnDNS2={{ dns_servers[1] }}
pivpnHOST={{ vpn_endpoint }}
UNATTUPG={{ 1 if ( enable_unattended_upgrades == true | default (true) ) else 0 }}

IPv4dev={{ ansible_default_ipv4.interface }}

pivpnenableipv6=0
pivpnforceipv6route=1

pivpnNET={{ openvpn_network }}
subnetClass={{ openvpn_netmask }}

TWO_POINT_FOUR={{ 1 if ( openvpn_use_version_2_4_features == true ) else 0 }}
pivpnENCRYPT={{ openvpn_certificate_size }}
pivpnSEARCHDOMAIN={{ openvpn_custom_search_domain }}
USE_PREDEFINED_DH_PARAM={{ 0 if ( openvpn_use_predefined_dh_parameters == false ) else 1 }}
