
install_user={{ pivpn_installation_user }}
VPN=wireguard
pivpnPROTO={{ __wireguard_protocol }}
pivpnPORT={{ wireguard_port }}
pivpnDNS1={{ dns_servers[0] }}
pivpnDNS2={{ dns_servers[1] }}
pivpnHOST={{ vpn_endpoint }}
UNATTUPG={{ 1 if ( enable_unattended_upgrades == true | default (true) ) else 0 }}

IPv4dev={{ ansible_default_ipv4.interface }}

pivpnenableipv6=0
pivpnforceipv6route=1

pivpnNET={{ wireguard_network }}
subnetClass={{ wireguard_netmask }}
